# {{ ansible_managed }}
# Run the hourly jobs
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
*/5 * * * * root {{ snmp_extension_scripts }}/systemd.py > {{ snmp_persistent_directory }}/systemd
