# {{ ansible_managed }}
# Schedule set by snmp_cron_osupdates
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
{{ snmp_cron_osupdates }} root {{ snmp_extension_scripts }}/osupdates-unpriv-generate.sh
