# {{ ansible_managed }}
# Schedule set by snmp_cron_systemd
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
{{ snmp_cron_systemd }} root {{ snmp_extension_scripts }}/systemd.py > {{ snmp_persistent_directory }}/systemd.tmp && mv {{ snmp_persistent_directory }}/systemd.tmp {{ snmp_persistent_directory }}/systemd
