# {{ ansible_managed }}

createUser {{ snmp_user }} SHA {{ snmp_password }} AES {{ snmp_encryption }}

rouser {{ snmp_user }} priv
{% set snmp_ipv4 = snmp_agentaddress_address.ipv4 | default('') %}
{% set snmp_ipv6 = snmp_agentaddress_address.ipv6 | default('') %}
{% set snmp_ipv4_hosts = ([snmp_ipv4, '127.0.0.1'] | unique) if snmp_ipv4 else [] %}
{% set snmp_ipv6_hosts = (['[' ~ snmp_ipv6 ~ ']', '[::1]'] | unique) if snmp_ipv6 else [] %}
{# product() yields (protocol, host, port) tuples, joined as protocol:host:port #}
{% set snmp_agentaddresses =
     [snmp_agentaddress_protocol.ipv4] | product(snmp_ipv4_hosts, [snmp_agentaddress_port.ipv4]) | map('join', ':') | list
   + [snmp_agentaddress_protocol.ipv6] | product(snmp_ipv6_hosts, [snmp_agentaddress_port.ipv6]) | map('join', ':') | list %}
{% if snmp_agentaddresses | length > 0 %}
agentAddress {{ snmp_agentaddresses | join(',') }}
{% endif %}

{% if snmp_location | default('', true) | length > 0 %}
sysLocation {{ snmp_location }}
{% endif %}
sysName {{ ansible_facts['fqdn'] }}
{% if snmp_contact | default('', true) | length > 0 %}
sysContact {{ snmp_contact }}
{% endif %}

{% if snmp_agentx_enabled is defined and snmp_agentx_enabled | bool %}
master agentx
{% endif %}

includeDir {{ snmp_confdir }}/snmpd.conf.d
