---
# tasks file for sbaerlocher.snmp

- name: 'Linux : Install snmp'
  become: true
  tags:
    - packages
  ansible.builtin.package:
    name: '{{ item }}'
  with_items:
    - '{{ snmp_packages }}'
    - '{{ snmp_additional_packages }}'

- name: 'Linux : Create snmp extension directory'
  become: true
  tags:
    - configuration
  ansible.builtin.file:
    path: '{{ snmp_extension_scripts }}'
    state: directory
    owner: root
    group: root
    mode: '0755'
    seuser: system_u
    serole: object_r
    setype: lib_t
    selevel: s0

- name: 'Linux : Install snmp extension'
  become: true
  tags:
    - configuration
  ansible.builtin.get_url:
    url: '{{ item.url }}'
    dest: '{{ snmp_extension_scripts + "/" }}'
    owner: root
    group: root
    mode: '0755'
    seuser: system_u
    serole: object_r
    setype: lib_t
    selevel: s0
  with_items:
    - "{{ snmp_extension_list }}"

- name: 'Linux : Install snmp extension proxmox'
  become: true
  tags:
    - configuration
  ansible.builtin.get_url:
    url: 'https://raw.githubusercontent.com/sshockley/librenms-agent/master/agent-local/proxmox'
    dest: '{{ snmp_extension_scripts + "/" }}'
    owner: root
    group: root
    mode: '0755'
    seuser: system_u
    serole: object_r
    setype: lib_t
    selevel: s0
  when: '"pve" in ansible_kernel'

- name: 'Linux : install systemd snmp extension'
  become: true
  tags:
    - configuration
  when: ansible_facts.service_mgr == "systemd"
  block:
    - name: 'Download librenms-systemd snmp extension'
      ansible.builtin.get_url:
        url: 'https://github.com/sshockley/librenms-agent/raw/refs/heads/master/snmp/unpriv/systemd/systemd.py'
        dest: '{{ snmp_extension_scripts + "/" }}'
        owner: root
        group: root
        mode: '0755'
        seuser: system_u
        serole: object_r
        setype: lib_t
        selevel: s0
    - name: 'Linux : install librenms-systemd crontab'
      ansible.builtin.template:
        src: 'cron.d/99systemd-generate.j2'
        dest: '/etc/cron.d/99systemd-generate'
        owner: root
        group: root
        mode: '0644'
        seuser: system_u
        serole: object_r
        setype: system_cron_spool_t
        selevel: s0

- name: 'Linux : install osupdates unprivileged snmp extension '
  become: true
  tags:
    - configuration
  block:
    - name: 'Download osupdates-unpriv-generate.sh'
      ansible.builtin.get_url:
        url: 'https://github.com/sshockley/librenms-agent/raw/refs/heads/master/snmp/unpriv/osupdates/osupdates-unpriv-generate.sh'
        dest: '{{ snmp_extension_scripts + "/" }}'
        owner: root
        group: root
        mode: '0755'
        seuser: system_u
        serole: object_r
        setype: lib_t
        selevel: s0
    - name: 'Linux : install osupdates crontab'
      ansible.builtin.template:
        src: 'cron.d/99osupdates-generate.j2'
        dest: '/etc/cron.d/99osupdates-generate'
        owner: root
        group: root
        mode: '0644'
        seuser: system_u
        serole: object_r
        setype: system_cron_spool_t
        selevel: s0
    - name: 'Linux : Create osupdates directory'
      become: true
      ansible.builtin.file:
        path: '{{ snmp_persistent_directory }}/osupdates'
        state: directory
        owner: root
        group: root
        mode: '0755'
        seuser: system_u
        serole: object_r
        setype: snmpd_var_lib_t
        selevel: s0
  # when: ansible_facts.service_mgr == "systemd"

- name: 'Linux : configure snmpd daemon'
  become: true
  ansible.builtin.template:
    src: 'default/snmpd.{{ ansible_os_family }}.j2'
    dest: '{{ snmp_daemon_config }}'
    owner: root
    group: root
    mode: '0644'
    seuser: system_u
    serole: object_r
    setype: etc_t
    selevel: s0
  notify:
    - Restart snmp

- name: 'Linux : check create snmp config'
  become: true
  tags:
    - configuration
  ansible.builtin.template:
    src: 'snmp/snmpd.conf.j2'
    dest: '{{ snmp_config }}'
    owner: root
    group: root
    mode: '0600'
    seuser: system_u
    serole: object_r
    setype: etc_t
    selevel: s0
  register: check_snmp
  check_mode: true

- name: 'Linux : Configure snmp'
  when: check_snmp.changed
  tags:
    - configuration
  block:
    - name: 'Linux : stopped snmp'
      become: true
      ansible.builtin.service:
        name: '{{ snmp_service_name }}'
        state: stopped

    - name: 'Linux : Create snmp config'
      become: true
      ansible.builtin.template:
        src: 'snmp/snmpd.conf.j2'
        dest: '{{ snmp_config }}'
        owner: root
        group: root
        mode: '0600'
        seuser: system_u
        serole: object_r
        setype: etc_t
        selevel: s0
      notify:
        - Restart snmp
        - Enabled snmp

    - name: 'Linux : Started snmp'
      become: true
      ansible.builtin.service:
        name: '{{ snmp_service_name }}'
        state: started
